.page {
    margin: 0 auto;

    min-width: 880px;
    max-width: 880px;
    width: 100%;
    min-height: 100vh;

    background: black;
}

@media (max-width: 956px) {
    .page {
        min-width: 581px;
        max-width: calc(100% - 19px * 4);
    }
}

@media (max-width: 619px) {
    .page {
        margin: 0;

        min-width: 282px;
        max-width: calc(100% - 0px * 2);
    }
}
