.profile__edit-button {
    grid-area: profile__edit-button;

    height: 24px;
    width: 24px;

    margin-top: 16px;
    padding: 0;

    background: transparent url("/src/images/edit-button.svg") no-repeat 50% 50%;
    border: white solid 1px;

    outline: none;
    overflow: hidden;

    cursor: pointer;

    font-family: Inter, Arial, "sans-serif";
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media (max-width: 619px) {
    .profile__edit-button {
        margin-top: 8px;

        width: 18px;
        height: 18px;

        background-size: 18px;
        font-size: 27px;

        line-height: 33px;
    }
}